// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

%feeling-selected-styles {
    background-color: white !important;
}

// Custom styles
.no-child {
	border-radius: 8px;
}
.no-child:hover {
	background-color: white !important;
	cursor: pointer;
}
.feeling {
	border-radius: 8px;

	&:hover {
		@extend %feeling-selected-styles;
		transition: box-shadow .25s;
		cursor: pointer;
	}
}

.selected {
	@extend %feeling-selected-styles;
}

.submitted-note {
	border-radius: 8px;
	font-size: 1.2em;

	.note-value {
		font-style: italic;
	}
}
