@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.bunny.net/css?family=figtree:400,600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

%feeling-selected-styles {
    background-color: white !important;
}

.subtitle {
	font-size: 1.1rem;
}

// Custom styles
.no-child {
	border-radius: 8px;
}
.no-child:hover {
	background-color: white !important;
	cursor: pointer;
}
.feelings-container, .no-child {
	color: black;
	&.l1 {
		font-size:1.15rem;
		font-weight: 800;
	}
	&.l2 {
		font-size:1.1rem;
		font-weight: 600;
	}
	&.l3 {
		font-size:1rem;
		font-weight: 500;
    }

	.feeling {
		border-radius: 8px;
	
		&:hover {
			@extend %feeling-selected-styles;
			transition: box-shadow .25s;
			cursor: pointer;
		}
	}
}

.selected {
	@extend %feeling-selected-styles;
}

.submitted-note {
	font-size: 1.2em;

	.note-value {
		font-style: italic;
	}
}

.submitted-feelings {
	font-size: 1.2em;

	.submitted-feeling {
		margin-right: 5px;
		border-radius: 8px;
		min-width: 10em;
		color: black;
	}
}
